body{
    background-color: #000000
    
}


.resultado{
    color: white;
  
}

.btnOp{
    background: #DE9E36;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 2px;
    
}

.btnOp:hover{
    background: #FFFFFF;
    color:#DE9E36;  
}

.btnNum{
    background: #343a40;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 2px;
    

}

.btnNum:hover{
    background: #707477;
    color: white;
}

.btnNumLarge{
    background: #343a40;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 60px;
    height: 40px;
    width: 87px;
    margin: 2px;
}

.btnNumLarge:hover{
    background: #707477;
    color: white;
}

.btnAc{
    background: #bfbdc1;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    border-radius: 60px;
    height: 40px;
    width: 40px;
    margin: 2px;

}

.btnAc:hover{
    background: #707477 !important;
    color: #ffff;
}

.h1{
   color: whitesmoke; 
   font-family: Arial, Helvetica, sans-serif ;
   font-family: 'Roboto', sans-serif;
}

.p{
    color: whitesmoke; 
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    text-align: center;
    width: calc(100% - 148px);
 }

 .responsive {
    display: flex; /* or inline-flex */
  }

  .center{
    display: inline-block;
    text-align: center;
  }